<div class="footer-navigation">
  <ul>
    <li>
      <a href="#">Apply</a>
    </li>
    <li>
      <a href="#">Request Information</a>
    </li>
    <li>
      <a href="#">Site Map</a>
    </li>
  </ul>
  <p class="copyright">&copy; 1999 National University</p>
  <a href="#" class="privacy">Privacy Policy</a>
  <p class="disclaimer">National University is part of the <a href="#">National University System</a>, whose aim is to connect a diverse population of students to a network of innovative educational programs.</p>
</div>