<ul class="pager-article">
  <li class="prev">
    <a href="#">
      Previous Article Title
      <span class="date">
        December 25, 2014
      </span>
    </a>
  </li>
  
  <li class="next">
    <a href="#">
      Next Article Title
      <span class="date">
        December 25, 2014
      </span>
    </a>
  </li>
</ul>