<div class="result-filters">
  <form>
    <label>Label</label>
    <select>
      <option selected>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
    </select>
    <span class="close">Clear Filters</span>
  </form>
</div>