<div class="event-block">
  <h2>Events</h2>
  <ul class="event-list">
    <li>
      <a href="#">
        <span class="date">Dec 12</span>
        <span class="time">10:30-12:00 PM</span>
        <span class="title">Event title of an event</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="date">Dec 12</span>
        <span class="time">10:30-12:00 PM</span>
        <span class="title">Event title of an event</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="date">Dec 12</span>
        <span class="time">10:30-12:00 PM</span>
        <span class="title">Event title of an event</span>
      </a>
    </li>
  </ul>
  <%= partial "/pager" %>
</div>