<div class="link-list">
  <h3>Title</h3>
  <ul>
    <li><a href="#">Link item</a></li>
    <li><a href="#">Link item</a></li>
    <li><a href="#">Link item</a></li>
    <li><a href="#">Link item</a></li>
    <li><a href="#">Link item</a></li>
    <li><a href="#">Link item</a></li>
    <li><a href="#">Link item</a></li>
    <li><a href="#">Link item</a></li>
  </ul>
</div>