---
title: Home
---

<!-- Add your site or application content here -->
  <h2>Project Pages:</h2>
  <ul>
    <li>
      <% link_to('/library.html', { :class => 'main-link'}) do %>Module Library Page<% end %>
    </li>
    <li>
      <% link_to('/home.html', { :class => 'main-link'}) do %>Home Page<% end %>
    </li>
  </ul>
